.analytics {
  background-color: #313131;
  height: 150vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.analytics p,
.analytics h4 {
  color: #fff;
  margin-bottom: 0;
}
.analytics p {
  width: 70%;
  text-align: center;
  font-size: 1.19rem;
}
.analytics .data-left-side {
  float: left;
  text-align: center;

}
.analytics .data-and-analytics {
  display: flex;
  float: right;
  overflow: hidden;
  
  align-items: center;
}
.analytics .data-and-analytics .analytics-container {
  margin: 10rem 1rem;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  justify-content: center;
  align-items: center;
}

.analytics .data-and-analytics .analytics-container .line-and-text {
  margin: 20px 0;
  border-top: 1px solid #fff;
  display: flex;
  align-self: flex-end;
  width: 100%;
  text-align: right;
}
.analytics .data-and-analytics .analytics-container .line-and-text p {
  /* margin: 5px 0; */
  /* display: flex; */
  font-weight: bolder;
  font-size: 0.9rem;
  margin-left: auto;
  width: 100% !important;
  text-align: right;
}
.analytics .data-and-analytics .analytics-container img {
  height: 6rem;
  width: 20rem;
  /* height: 200px;
  width: 200px; */
}
.measure-everything{
  width: 100%;
  margin-bottom: 60rem;
  text-align: center;
}
.measure-everything .measure-left{
  float: left;
  text-align: center;
  vertical-align: middle;
  margin-top: 10rem;
}
.measure-everything .measure-right{
  float: right;
}
.ul-measure{
  list-style: none;

}
.measure-list::before{
  content: "•";
   color: #00af66;
   font-size: 140%;
font-weight: 900; /* If you want it to be bold */

flex-direction: row;
width: 4em;


}
.measure-list{
  padding: 0px 0px 0px 0px;
    
    display: flex;
    font-family: "IBM Plex Sans",sans-serif;
    font-weight: 700;
}
.content-para{
  font-size: .923rem;
  font-weight: 400;
  width:150%;
  margin-top: 1.52rem;
  margin-left: -2rem;
  border: 1px solid grey;
  
  
  
}
.network-para {
  font-size: .923rem;
  font-weight: 400;
  width:150%;
  margin-top: 1.52rem;
  margin-left: -7rem;
  border: 1px solid grey;
  
  

}
.img1-measure{
  margin-top: 10rem;
}
@media (max-width: 800px) {
  .analytics p {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .analytics p {
    width: 80%;
  }
}
