.main-resources {
  margin-top: 10rem;
}

.resource-card {
  height: 100%;
  margin-top: 40px;
  transition: 0.5s;
}
.resource-card:hover {
  background-color: #f5f5f5;
  border-bottom: 5px solid var(--primary-color);
}

.resource-row {
  width: 80%;
  margin: 0 auto !important;
}

@media (max-width: 350px) {
  .resource-row {
    width: 100%;
  }
}
